@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans';
    background-color: #E3D9FB;
    color: #533699;
}

h1 {
    font-size: 1.75rem;
    text-align: center;
    margin: 3rem 0;
}

p {
    color: black;
    margin: 2rem 0;
}

.short-txt {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.75rem;
}

.num {
    font-size: 3.5rem;
    font-weight: bold;
}

/*Styling the main container layout*/
header {
    margin: 0 auto;
}

main {
    position: relative;
    background-color: white;
    padding: 2rem 4rem;
    max-width: 900px;
    width: 80%;
    margin: 3rem auto;
    border-radius: 20px;
    overflow: hidden;
}

/*Styling the top navbar*/
nav {
    margin-bottom: 2rem;
    width: 100%;
}

.nav-items {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-item span {
    color: #E3D9FB;
    padding-bottom: 2rem;
}

.nav-item.active span {
    color: #533699;
}

.nav-item hr {
    border: 2px solid #DBDBDB;
    border-radius: 10px;
    width: 100px;
    z-index: 1;
}

.nav-item.active hr {
    border-color: #533699;
}

.nav-item:hover span {
    color: #533699;
    cursor: pointer;
}

nav>hr {
    position: absolute;
    width: 100%;
    border: 2px solid #DBDBDB;
    border-radius: 10px;
    margin-top: -4px;
    /* margin-left: -4rem; */
    z-index: 0;
    left: 0px;
}

/*Styling toggle button*/
.toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.toggle img {
    width: 28px;
    margin: 0 16px;
}

.toggle-group {
    display: flex;
    background-color: #533699;
    color: white;
    border-radius: 50px;
    padding: 3px;
}

.toggle-option {
    display: flex;
    padding: 0.25rem 1rem;
    border-radius: 50px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.toggle-option.active {
    color: #533699;
    background-color: white;
}

/*Styling the num-card*/
.num-card {
    display: flex;
    background-color: #F7F6FF;
    margin: 2rem auto;
    padding: 2rem;
    flex-direction: column;
    align-items: center;
    width: 40%;
    border-radius: 20px;
}

/*Styling the slider*/
.gauge {
    position: relative;
    width: 100%;
    height: 1rem;
    background-color: #F7F7F7;
    border: 2px solid #DBDBDB;
    border-radius: 20px;
    margin: 1rem 0;
}

.completness {
    position: absolute;
    width: 30%;
    height: calc(100% + 4px);
    background-image: linear-gradient(90deg, #533699, #7558bb);
    border-radius: 20px;
    top: -2px;
    left: -2px;

}

.end-point {
    position: absolute;
    width: 26px;
    height: 26px;
    background-image: linear-gradient(90deg, #533699, #7558bb);
    border-radius: 50%;
    border: 2px solid white;
    top: -4px;
    right: -1px;
    cursor: pointer;
}

.end-point:hover {
    transform: scale(1.1);
}

.indicators {
    display: flex;
    justify-content: space-between;
}

/*Styling pricing card*/
.pricing {
    display: flex;
    justify-content: space-between;
}

.pricing-card {
    position: relative;
    box-sizing: border-box;
    width: 48%;
    background-color: #F7F6FF;
    border-radius: 20px;
    padding: 2rem;
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    transition: transform 0.2s ease-out;
}

.pricing-card:hover {
    transform: translateY(-5px);
}

.pricing-card hr {
    width: 5rem;
    border: 1px solid #DBDBDB;
    border-radius: 10px;
    margin: 1rem 0;
}

.pricing-card p {
    margin: 1rem 0;
    color: #533699;
    font-weight: bold;
    text-align: center;
}

.pricing-card button {
    border: none;
    background-color: #533699;
    color: white;
    padding: 0.75rem 1rem;
    border-radius: 10px;
    margin-top: 1rem;
    cursor: pointer;
}

.pricing-card button:hover {
    background-color: #6447aa;
}

.offer {
    display: flex;
    position: absolute;
    background-image: linear-gradient(90deg, #533699, #7558bb);
    width: 100%;
    color: white;
    border-radius: 20px 20px 0 0;
    justify-content: center;
    padding: 2px 0;
    top: -4px;
}

@media only screen and (max-width: 1000px) {
    main {
        width: unset;
        margin: 2rem 3%;
    }
}

@media only screen and (max-width: 700px) {
    .num-card {
        width: unset;
    }

    .pricing {
        flex-direction: column;
    }

    .pricing-card {
        width: unset;
        margin: 1rem 0;
    }

    .pricing-card:first-of-type {
        margin-top: 2rem;
    }
}

@media only screen and (max-width: 600px) {
    main {
        padding: 1.5rem 1rem;
    }

    .nav-item span {
        padding-bottom: 1.5rem;
    }

    .tight {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}